
<h1>Супутники</h1>

<p>
    <h2>
        Супутник — небесне тіло, яке рухається навколо планети або зорі. Запущені людиною у космос із дослідницькою метою пристрої, апарати або снаряди, які рухаються за інерцією навколо небесного тіла, називають штучними супутниками.
    </h2>
</p>
<p>
    <h2>
        Природні супутники в англомовних джерелах, часто називають місяцями (moons — з маленької літери), що походить від англ. назви супутника Землі — Місяця. У Сонячній системі є шість планетних супутникових систем, які містять 207 відомих природних супутників. Також відомо, що сім об’єктів, які астрономи зазвичай вважають карликовими планетами, мають природні супутники: Орк, Плутон, Гаумеа, Квавар, Макемаке, Гунгун і Ерида. Станом на листопад 2021 року було відомо про 442 інші малі планети, які мають природні супутники.
    </h2>
</p>
<p>
    <h2>
        Планета зазвичай, має принаймні приблизно в 10 000 разів більшу масу від будь-якого природного супутника, що обертається навколо неї, з відповідно набагато більшим діаметром.
    </h2>
</p>



